* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.swal2-confirm,
.swal2-cancel {
    color: black;
}

/* Header */
.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 15px 20px 30px 20px;
    text-align: center;
}
#Titel{
    text-align: center;
    margin: 0 auto;
    font-size: 2.5em;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background-color: #e1e7f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon {
    width: 30px;
    height: 30px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 80px;

}

.preferences-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px 40px;
    justify-content: center;
    font-size: 1.6em;
}

.preferences-form label {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    background-color: #e0e0e05e;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.preferences-form label:hover {
  background-color: #d3d3d3; /* light blue */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.preferences-form label:has(input:checked) {
  background-color: #d0e0ff;
  border-color: #3b82f6;
}

.preferences-form input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
}

.button-container {
    position: fixed;
    bottom: 80px;
    left: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    z-index: 10;
    
}

button {
    padding: 12px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background: #e1e7f4;
    cursor: pointer;
}